%h1
  Modifier
= @error
%form{:action=>"/#{@code.id}/modify", :method=>"post"}
  %input{:type=>"hidden", :name=>"_method", :value=>"put"}
    %p 
      %label{:for=>"name"} Titre:
      %input{:type => "text", :name => "work_title", :value=>"#{@code.titre}"}
    %p
      %textarea{:name => "work_body", :rows => "10"}
        :preserve
          #{@code.body}
    %p 
      %input{:type=>"submit", :value=>"Modifier"}

