%div
  %h1 Nouveau code
  %form{:action=>"/new_code", :method=>"post"}
    - if @work
      - @work.errors.each do |e|
        #{e}
        %br

    %p
      %label{:for=>"name"} Titre:
      %input{:type => "text", :name => "work_title",:value=>"#{@work.titre if @work}"}
    %p
      %label{:for=>"name"} Code:
      %br
      %textarea{:name => "work_body", :rows => "10"}
        #{@work.body if @work}
    %p
      %label{:for=>"name"} Description:
      %br
      %textarea{:name => "work_desc", :rows => "10"}
        #{@work.desc if @work}
    %p
      Langage:
      %select{:name => "work_lang"}
        %option{:value=>"ruby"}<
          Ruby
        %option{:value=>"html"}<
          HTML
        %option{:value=>"jscript"}<
          Javascript
        %option{:value=>"css"}<
          CSS
    %p
      %input{:type => "submit", :value => "Save"}


