%h1
  Types
%ul.type
  %li
    %a{:href=>"#{request.path}/ruby"}
      Ruby
  %li
    %a{:href=>"#{request.path}/html"}
      HTML
  %li
    %a{:href=>"#{request.path}/jscript"}
      Js
  %li
    %a{:href=>"#{request.path}/css"}
      CSS
